<section >
    <div class="titulo">
        <div id="tit2"><h2>Educacion</h2></div>
        <button type="button" class="btn btn-" onclick="cambiar_parrafo()">edit</button>
    </div>
    <br>
    <div class="contenedorEd">
        <div class ="cont-fotos">
            <div class="card" style="background-image: url('./img/61391.jpg')">
                <div class="textos">
                    <h3>Guli</h3>
                    <p>22 de Octubre 2003</p>
                </div>
            </div>
    
        </div>
        <div class="d">
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab natus repellat architecto nisi 
                sunt laudantium iusto sapiente, assumenda beatae consectetur tenetur ut enim vero maxime 
                repellendus recusandae, ipsum accusamus ipsa!</p>
        </div>
    </div>
    <br>
    <div class="contenedorEd">
        <div class ="cont-fotos">
            <div class="card" style="background-image: url('./img/61391.jpg')">
                <div class="textos">
                    <h3>Guli</h3>
                    <p>22 de Octubre 2003</p>
                </div>
            </div>
    
        </div>
        <div class="d">
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab natus repellat architecto nisi 
                sunt laudantium iusto sapiente, assumenda beatae consectetur tenetur ut enim vero maxime 
                repellendus recusandae, ipsum accusamus ipsa!</p>
        </div>
    </div>
    <br>
    <div class="contenedorEd">
        <div class ="cont-fotos">
            <div class="card" style="background-image: url('./img/61391.jpg')">
                <div class="textos">
                    <h3>Guli</h3>
                    <p>22 de Octubre 2003</p>
                </div>
            </div>
    
        </div>
        <div class="d">
            <h2>Titulo</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab natus repellat architecto nisi 
                sunt laudantium iusto sapiente, assumenda beatae consectetur tenetur ut enim vero maxime 
                repellendus recusandae, ipsum accusamus ipsa!</p>
        </div>
    </div>
</section>
<br>

<br>