<a name="proyectos"></a>
<div id="Proyectos" class="contenedor">
    <div class="titulo">
        <div id="tit2"><h1>Proyectos</h1></div>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-dark " routerLink ="/nuevoproy"*ngIf="isLogged">Agregar </button>
    </div>
    <section class="molde">
        <ng-container *ngFor="let proyecto of proyecto">
             <div class="descripcion1">
            <div class="descripcion">
            <h2>{{proyecto.nombre}}</h2>
        <div class="data-conteiner">
       
                <div class="logo- image-conteiner">
                    <img [src]="proyecto.captura" width="300" height="300" class="img-thumbnail">
                </div>
                <div class="info">
                    <div>
                                               <p>{{proyecto.anio}}</p>
                    </div>
                </div>
    
        </div>
            <p>{{proyecto.descripcion}}</p>
            <a href="{{proyecto.link}}">
                <p>{{proyecto.link}}</p></a>
                <div class="btn-edit">
                    <a class="btn btn-right" href="editarproy/{{proyecto.id}}"><i class="fa fa-pen"style="font-size:20px"*ngIf="isLogged"></i></a>
                    <a class="btn btn-right" href="#"(click)="borrar(proyecto.id)"><i class="fa fa-trash"style="font-size:20px"*ngIf="isLogged"></i></a>
                </div>
            </div>

    </div>
</ng-container>
    </section>
  
</div>