<!-- <p>encabezado works!</p> -->

<section class="inicio">
    <div class="portada">
        <div class="foto_portada">
            <div class="foto">         </div>
        </div>
        <div class="perfil">           
            <div class="foto_perfil">
                <img class="foto1"src="../../../assets/images/foto.jpg" width="300" height="300" />
            </div>
        </div>
        <div class="caja_redes">
            <div class="redes">
                <div class="texto1">
                    <h2>Noelia Olea </h2> 
                    <h3>-Desarrollador Web Full Stack Jr-</h3>
                </div>
                <div class="red">
		
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-discord"></i></a>
                </div>          
            </div>
        </div>
    </div>
</section>
