<section class="cuadro">
    <div>
    <div class="titulo">
        <h1>Experiencia</h1>
        <div class="btn-edit">
            <a class="btn btn-right" href="#"><i class="fa fa-pen"style="font-size:24px"></i></a>
        </div>
    </div>

</div>
    <div class="unaSecc">
        <div class="boton">
            <button type="button" id="btn-elim" >edit</button>
            <button type="button" id="btn-modif" >edit</button>
        </div>
        <div >
            <p id="text-AcercaMi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, perferendis earum architecto, enim nam illo accusantium quis perspiciatis sed id eum odio dolores atque voluptatem incidunt hic nesciunt iste saepe?</p>
        </div>
    </div>

    <div class="unaSecc">
        <div class="boton">
            <button type="button" id="btn-elim" >edit</button>
            <button type="button" id="btn-modif" >edit</button>
        </div>
        <div >
            <p id="text-AcercaMi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, perferendis earum architecto, enim nam illo accusantium quis perspiciatis sed id eum odio dolores atque voluptatem incidunt hic nesciunt iste saepe?</p>
        </div>
    </div>

    <div>
        <input id="editAcercaMi" type="text" oninput="ingreso(this.value)" style="display:none">
    </div>
    <i class="fa-solid fa-user"></i>
    <i class="fi fi-rr-editar"></i>
    <i class="fi fi-rs-corazón"></i>
    <input type="file" id="file1" onchange="showFile(this)">
</section><br>
