<div class="contenedor">
    <section class="descrip">
        <div class="titulo">
            
            <!-- <div class="btn-edit">
                <a class="btn btn-right" href="#"><i class="fa fa-pen"></i></a>
            </div> -->
            <div class="boton">
                <span><button type="button" id="btn-r">edit</button></span>
            </div>
            <h1>AcercaMi</h1>
        </div>
        <div class>
            <p id="text-AcercaMi">{{acercami.descripcion}}</p>
        </div>
        <div>
            <input id="editAcercaMi" type="text" oninput="ingreso(this.value)" style="display:none">
        </div>
        
    </section>
</div>