<div class="contenedor">
    <section class="descrip">
        <div class="titulo">
            <span><h2>AcercaMi</h2></span>
            <button type="button" class="btn btn-" onclick="cambiar_parrafo()">edit</button>
        </div>
        <div class>
            <p id="text-AcercaMi">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, perferendis earum architecto, enim nam illo accusantium quis perspiciatis sed id eum odio dolores atque voluptatem incidunt hic nesciunt iste saepe?</p>
        </div>
        <div>
            <input id="editAcercaMi" type="text" oninput="ingreso(this.value)" style="display:none">
        </div>
        
    </section>
</div>