<header>
    <div class="icon">
        <div class="logotipo">
            <div><img src="../../../assets/images/logoAP5.png" ></div>
        </div> 
        <button class="boton tres"><span>Login</span></button>
    </div>
    
    <input type="checkbox" id="bt-menu">
    <label for="bt-menu"><img src="../../../assets/images/menu.png" width="30px" height="30px"></label>
    
    <nav class="menu">
        <ul>
            <li><a href="#inicio1">Inicio</a></li>
            <li><a href="sobreMi.html">Sobre Mi</a></li>
            <li><a href="proyectos.html">Mis Proyectos</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>


