<!-- <div class="titulo">
  <h1>Hard && Soft Skills</h1>
  <div class="btn-edit">
      <a class="btn btn-right" href="#"><i class="fa fa-pen"style="font-size:24px"></i></a>
  </div>

</div> -->
<div class="titulo">
  <div id="tit2"><h1>Hard && Soft Skills</h1></div>
  <div class="btn-edit">
      <a class="btn btn-right" href="#"><i class="fa fa-pen"style="font-size:24px"></i></a>
  </div>

</div>

<div class="porcent">
    <div class="hard">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'HTML'"
  [titleColor]="'#000000 '"
[titleFontSize]="'3em'"
[showSubtitle]="false"
  [showUnits]="false"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#FF5733'"
  [innerStrokeColor]="'#000000'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'CSS'"
[titleColor]="'#3498DB '"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#3498DB'"
[innerStrokeColor]="'#000000'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'Js'"
[titleColor]="'#000000'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#F1C40F'"
[innerStrokeColor]="'#000000'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'JAVA'"
[titleColor]="'#28B463 '"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#28B463'"
[innerStrokeColor]="'#000000'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'Python'"
[titleColor]="'#21618C  '"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#21618C '"
[innerStrokeColor]="' #D4AC0D '"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'Ingles'"
[titleColor]="'#000000'"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#FC0202'"
[innerStrokeColor]="'#205C81'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<circle-progress
[percent]="85"
[radius]="100"
[title]="'C++'"
[titleColor]="'#154360 '"
[titleFontSize]="'3em'"
[showSubtitle]="false"
[showUnits]="false"
[outerStrokeWidth]="10"
[innerStrokeWidth]="2"
[outerStrokeColor]="'#154360'"
[innerStrokeColor]="'#000000'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<br><br>
    </div>
    <div class="soft">
        <circle-progress
      [percent]="85"
      [radius]="100"
      [title]="'Responsable'"
      [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
      [showUnits]="false"
      [outerStrokeWidth]="10"
      [innerStrokeWidth]="2"
      [outerStrokeColor]="'#900C3F'"
      [innerStrokeColor]="'#000000'"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Flexible'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Colaborativa'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Lider'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'Resolutiva'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'TimeManaget'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'2em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
    <circle-progress
    [percent]="85"
    [radius]="100"
    [title]="'HTML'"
    [titleColor]="'#FF5733 '"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [showUnits]="false"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#900C3F'"
    [innerStrokeColor]="'#000000'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
        </div>
</div>
